<head>
    <!-- Vue client -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- Minimal styling. -->
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        table {
            text-align: center;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="app" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <h1>Movie App</h1>
        <p>What location are you planning on visiting?</p>
        <button v-on:click="createDatabase">Create Database</button>
        <p>Movie Name: <input v-model="title"> Year: <input v-model="year"> <button v-on:click="getMovies">Get Movie</button></p>
        <button v-on:click="deleteDatabase">Delete Database</button>

        
        <div v-if="summaryGenerated && summary.code==200">
            <table>
                <thead>
                    <tr style="border: 1px solid black">
                        <th>Title</th>
                        <th>Release Date</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in summary.list">
                        <td>{{row.title}}</td>
                        <td>{{row.info.release_date}}</td>
                        <td>{{row.info.rating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-if="summaryGenerated && summary.code==404">
            <p>Error 404: No movie found.</p>
        </div>
        <p>{{summaryGenerated}}</p>
        <p>{{summary}}<p>
    </div>

    <script>
    var app = new Vue({
        el: '#app',
        data: {
            title: "",
            year: "",
            summary: {},
            summaryGenerated: false    
        },
        methods: {
            createDatabase: createDatabase,
            getMovies: getMovies,
            deleteDatabase: deleteDatabase
        }
    })

    function createDatabase(){
        console.log("createDatabase called")
        let prom = fetch("/create")
    }

    function deleteDatabase(){
        console.log("deleteDatabase called")
        let prom = fetch("/delete/")
       // prom.then(console.log(response))
    }
    // When the button is pressed, request the weather from the server, at the specified city and country
    // Capture the response in the summary field, and capture that there has been a response with summaryGenerated
    function getMovies(){
        console.log("getMovies called")
        let prom = fetch("/movies?title=" + this.title + "&year=" + this.year);
        prom.then(response => response.json())
            .then(response =>
                this.summary = response,
                this.summaryGenerated = true
            )
    }
 
    </script>
</body>